<configuration>

	<property name="resourcesPath" value="${java.io.tmpdir}/PALG/" />
	<timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ss" />

	<appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${resourcesPath}activity-log_${timestamp}.txt</file>
		<encoder>
			<pattern>%msg,%n</pattern>
		</encoder>
	</appender>

	<logger name="com.palg" level="INFO">
		<appender-ref ref="JSON_FILE" />
	</logger>

</configuration>